@import '../../styles/variables';

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 50%;
    margin-bottom: 12px;
    width: 100px;
    box-shadow: -1px 3px 11px -3px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: -1px 3px 11px -3px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -1px 3px 11px -3px rgba(0, 0, 0, 0.74);
  }

  input[type='text'],
  input[type='password'] {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    background: $background-opacity;
    color: $background;
    letter-spacing: 0.3px;
    text-align: center;
    transition: all 0.2s;

    &:focus {
      outline: none;
      box-shadow: -1px 3px 4px -4px rgba(0, 0, 0, 0.74);
      -webkit-box-shadow: -1px 3px 4px -4px rgba(0, 0, 0, 0.74);
      -moz-box-shadow: -1px 3px 4px -4px rgba(0, 0, 0, 0.74);
    }
    &::placeholder {
      color: $background;
      opacity: 0.5;
    }
  }

  button {
    background: transparent;
    font-size: 30px;
    color: $background;

    &:focus {
      outline: none;
    }
  }
}
